{% extends "base.html" %}

{% block main %}
<h1 class = "page-header">Groups</h1>

<form action="{{ url_for('groups',userid=userid) }}" method="post">
{{ form.csrf_token}}
      <div class="form-group">
        {{ form.groupsearch(class='form-control', placeholder="Search for a group")}}
      </div>
	<button type="submit" name="submit">Search</button>
</form>
<br><br>
<a href="{{url_for('cgroup',userid=userid)}}">Create Group</a>
<a href="{{url_for(vgroups',userid=userid)}}">My Group(s)</a>

{% endblock %}